.element, .div {
  max-width: 1100px;
  margin: 0 auto;
}

.cover, .lots, .about {
  padding: 0 20px;
}

.header, .footer {
  padding: 20px;
}

.lots-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 40px 0;
}
